
body, html { 
    width: 100%; 
    height: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.form-container { 
    width: 70%; 
    height: 50%;
    border: black solid 5px; 
    border-radius: 20px;
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
}
.content { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-height: 100%; 
    width: 100%; 
}
#form { 
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px; 
}
#form p { 
    margin-right: 20px;
}
#form input[type="number"] { 
    width: 10%; 
    margin-right: 10px;
    border-radius: 5px;
}
#red { 
    color: rgb(255,0,0); 
}
#green { 
    color: rgb(0,255,0); 
}
#blue { 
    color: rgb(0,0,255); 
}
#form input[type="button"] { 
    width: 20%; 
    margin-left: 10px;
    border-radius: 5px;
    border: solid; 
}
#form input[type="button"]:hover { 
    cursor: pointer;
}
.color-info { 
    display: flex; 
    flex-direction: column; 
    align-items: center;
}
.label { 
    display: flex; 
    font-size: 20px; 
}
.color-types { 
    display: flex; 
    width: 100%; 
    justify-content: space-evenly; 
}
.color-info #square { 
    border: black solid; 
    width: 20px;
    height: 20px;  
}
.color-info p { 
   margin: 10px 15px 0px 0px;  
}
